<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>Register Page</p>

{% if messages %}
<ul class="messages">
  {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form }}

    <input type="submit" value="Submit">


</form>

<p>To login: <a href="{% url 'login' %}">Click Here</a></p>


</body>
</html>